
/* ==============Head of Page======================== */
.title {
    text-align: center;
    align-content: center;
    font-size: 450%;
    width: 80%;
    margin: auto;
    font-weight: bold;
    padding: 3.5% 0 1% 0;
    letter-spacing: 11px;
    transform: scale(1, .95);
    /* background-color: red; */
}

.subTitle {
    text-align: center;
    font-size: 90%;
    font-weight: 600;
    /* padding: 3%; */
    letter-spacing: 5px;
    color: rgb(173, 173, 173);
    transform: scale(1, .93);
    margin-bottom: 4%;
}

.stSpecial {
    color: rgb(9, 226, 179);
}

.nav {
    text-align: center;
    align-content: center;
    font-size: 90%;
    margin: 0 15%;
    transform: scale(1, .9);
   
}

.navSub {
    text-align: center;
    padding: 1% auto;
    align-content: center;
    margin: 0 auto;
    color: rgb(107, 107, 107);
    text-decoration: none;
    }
 .navSub:link {
    color: rgb(78, 78, 78);
    text-decoration: none;
  }
  
  .navSub:visited {
    color: none;
  }
  
  .navSub:hover {
    color: rgb(190, 190, 190);
    /* text-shadow: 1px 1px 8px rgba(200,200,200,10); */
  }
  
  .navSub:active {
    color: rgb(190, 190, 190);
  }

  .navActivePage {
      color: rgb(190, 190, 190);
  }

  .navbar {
    background-color: none;
    text-align: center;
    align-content: center;
  }

  .bg {
    background-color: none;
    text-align: center;
    align-content: center;
  }

  .navbar-light {
      background-color: none;
      text-align: center;
    align-content: center;
  }

  .navbar-expand-lg {
    background-color: none;
    text-align: center;
    align-content: center;
  }

  .navbar-nav {
    text-align: center;
    padding: 1% auto;
    align-content: center;
    margin: 0 auto;
    color: rgb(107, 107, 107);
    text-decoration: none;
    /* background-color: red; */
  }
.navbar-nav:hover {
    color: rgb(190, 190, 190);
}



  .nav-item {
    text-align: center;
    padding: 1% auto;
    align-content: center;
    margin: 0 auto;
    color: rgb(107, 107, 107);
    text-decoration: none;
    /* background-color: red; */
  }

  .nav-item:hover {
    color: rgb(190, 190, 190);
  }

  .nav-link {
    text-align: center;
    padding: 1% auto;
    align-content: center;
    margin: 0 auto;
    color: rgb(107, 107, 107);
    text-decoration: none;
  }

  .navbar-toggler {
    text-align: center;
    align-content: center;
  }
  .navbar-toggler-icon {
    text-align: center;
    align-content: center;
  }
  /* ==============End Head of Page======================== */

/* ================ beginning of index ======================= */

.buildContent {
    margin: 7% auto;
    
}

.build {
    width: 100%;
    margin: 1% 0;
    
}

/* ================= beginning of mixed media ============================ */


.buildContent {
    margin: 7% auto;
    
}

.anthro {
    width: 100%;
    margin: 1% 0;
    
}





  /* ================Contact Page========================== */
  .contactEntry {
      /* text-align: center; */
      margin: 10% 5%;
      
  }

  /* .formTitleTag {
      text-align: left;
  } */

  .formNameEntry {
        width: 100%;
  }
  
  .formEmailEntry {
        width: 100%;
  }

  .formMessageEntry {
        width: 100%;
  }


  .subBtnStyle {
      /* justify-content: center; */
      /* align-content: center; */
      text-align: center;
      /* border-radius: 4px; */
  }

  .submit-btn {
    border-radius: 7px;
    text-decoration: none;
    border: none;
    /* box-shadow: 3px 4px 8px rgba(200,200,200,10); */
  }
  .submit-btn:link {
    text-decoration: none;
    background-color: blue;
  }
  .submit-btn:hover {
    text-decoration: none;
    background-color: rgb(246, 246, 246);
    color: rgb(112, 112, 112);
    border: none;
    box-shadow: 3px 4px 8px rgba(200,200,200,10);
  }
  .submit-btn:visited {
    text-decoration: none;
  }
  .submit-btn:active {
    text-decoration: none;
  }
/* .yoyo {
    background-color: red;
} */
 /* ===========================Messages div=================================== */

  .messagesDiv {
    align-content: center;
    text-align: center;
    margin: 7% auto;
    width: 90%;
  }

  .nameCol {
    color: rgb(9, 201, 226);
  }

  .emailCol {
    color: rgb(9, 157, 226);
  }

  .messageCol {
    color: rgb(9, 121, 226);
  }




  /* PHONES */

  @media screen and (max-width: 992px) {
  
.title {
    font-size: 190%;
}

}